body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(347 14% 47%);
    
  }
  
    


  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #2bcb23;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
    
  
    